<ion-view title="Edit Lead" cache-view="false">
    <ion-header-bar class="bar-positive">
    </ion-header-bar>
    <ion-content scroll="false">
        <br>
        <div class="editbox">
            <label class="inputlabel">First Name</label>
            <input class="cardinput" ng-model="lead.FirstName"></input>
        </div>
        <div class="editbox">
            <label class="inputlabel">Last Name</label>
            <input class="cardinput" ng-model="lead.LastName"></input>
        </div>
        <div class="editbox">
            <label class="inputlabel">Company</label>
            <input class="cardinput" ng-model="lead.Company"></input>
        </div>
        <div class="editbox">
            <label class="inputlabel">Title</label>
            <input class="cardinput" ng-model="lead.Title"></input>
        </div>
        <div class="editbox">
            <label class="inputlabel">Phone</label>
            <input class="cardinput" ng-model="lead.Phone"></input>
        </div>
        <div class="editbox">
            <label class="inputlabel">Email</label>
            <input class="cardinput" ng-model="lead.Email"></input>
        </div>
        <br>
        <button class="button1" ng-click="updateDetails()">Update</button>
    </ion-content>
</ion-view>