<ion-view title="Leads" cache-view="false">
    <ion-header-bar class="bar-positive">
    </ion-header-bar>
    <ion-nav-buttons side="right">
        <a href="#/tab/leads/{{lead.Id}}/newlead" class="navbutton icon ion-plus-circled"></a>
    </ion-nav-buttons>
    <ion-content>
        <br>
        Sort by <select ng-model="filters" ng-options="item.Status as item.Name for item in statustypes" ng-change="onChange()"></select>
        <div id="hider" class="hider"></div>
        <div class="cardholder">
            <div id="card-{{$index}}" class="cards" ng-click="expandCard($event)" ng-repeat="lead in leads | orderBy:'LastName' | filter:filters">
                <div class="row">
                    <div class="col col-70">
                        <p class="cardtitle1" ng-hide="vToggle">{{lead.FirstName}} {{lead.LastName}}</p>
                        <p class="cardtitle2" ng-hide="vToggle">{{lead.Company}}</p>
                    </div>
                    <div class="col">
                        <a ng-click="getPhone(lead.Phone, $event)"><div class="contactbutton icon ion-ios-telephone"></div></a>
                        <a ng-click="getEmail(lead.Email, $event)"><div class="contactbutton icon ion-email"></div><a>
                        <access origin="tel:*" launch-external="yes"/>
                        <access origin="mailto:*" launch-external="yes"/>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <p class="cardtitle3" ng-hide="vToggle">{{lead.Status}}</p>
                        <p class="cardtitle3" ng-hide="vToggle">{{lead.Phone}}</p>
                        <p class="cardtitle3" ng-hide="vToggle">{{lead.Email}}</p>
                    </div>
                    <a class="editbutton" ng-click="preventClosure($event, lead.Id)" href="#/tab/leads/{{lead.Id}}">Edit Lead</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>