<ion-view title="Add Lead" cache-view="false">
    <ion-header-bar class="bar-positive">
    </ion-header-bar>
    <ion-content scroll="false">
        <br>
        <form name="newLeadForm">
        <div class="editbox">
            <label class="inputlabel">First Name</label>
            <input class="cardinput" ng-model="lead.FirstName" required type="text"></input>
        </div>
        <div class="editbox">
            <label class="inputlabel">Last Name</label>
            <input class="cardinput" ng-model="lead.LastName" required type="text"></input>
        </div>
        <div class="editbox">
            <label class="inputlabel">Company</label>
            <input class="cardinput" ng-model="lead.Company" required type="text"></input>
        </div>
        <div class="editbox">
            <label class="inputlabel">Phone</label>
            <input class="cardinput" ng-model="lead.Phone" required type="tel"></input>
        </div>
        <div class="editbox">
            <label class="inputlabel">Email</label>
            <input class="cardinput" ng-model="lead.Email" required type="email"></input>
        </div>
        <div class="editbox">
            <label class="inputlabel">Status</label>
            <input class="cardinput" ng-model="lead.Status" required type="text"></input>
        </div>
        <br>
        <button class="button1" ng-click="addLead()" ng-disabled="newLeadForm.$invalid">Add</button>
        </form>
    </ion-content>
</ion-view>