<ion-view cache-view="false" title="Settings">
	<ion-content> 
        <div class="card">
        <div class="item item-divider">
            <h4>Application Details</h4>

        </div>
        <div class="item item-text-wrap">

            <div class="row">
                <div class="col">
                <p>Build</p>
                </div>
                 <div class="col">
                 <p>{{ settingsRecs.buildName }}.B{{ settingsRecs.buildVersion }}.D{{ settingsRecs.dynVersionNumber }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                <p>User</p>
                </div>
                 <div class="col">
                 <p>TBC</p>
                </div>
            </div>

            <div class="row">
                <div class="col col-75">
                <p>Sync Pending</p>
                </div>
                 <div class="col">
                 <p>{{ recsToSyncCount }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col col-75">
                <p>Record Issues</p>
                </div>
                 <div class="col">
                 <p>0</p>
                </div>
            </div>

            <div class="row">
                <div class="col col-75">
                <p>Session Queue</p>
                </div>
                 <div class="col">
                 <p>0</p>
                </div>
            </div>

        </div>

    </div>
	<div class="list card">
		<a class="item item-icon-left" ng-click="showConfirmLogout()">
    	<i class="icon ion-log-out"></i>
	    	Logout
		</a>
    <a ng-if="upgradeAvailable" class="item item-icon-left" ng-click="upgradeIfAvailable()">
      <i class="icon ion-android-download"></i>
        Upgrade
    </a>
		<a class="item item-icon-left" href="#/tab/settings/devtools">
    	<i class="icon ion-settings"></i>
	    	Admin Functions
		</a>
    <form name="logLevelForm">
      <div class="row" style="padding-left: 0px;">
        <div class="col" style="padding-left: 0px;">
          <label class="item item-input item-select">
            <div class="input-label">
              Logging Level:
            </div>
            <select required ng-model="log.level" ng-change="logLevelChange()">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>Off</option>
            </select>
          </label>
        </div>
        <div class="col">
          <button class="button {{(log.levelChange) ? 'button-positive' : ''}}" ng-click="setLogLevel()" ng-disabled="logLevelForm.$invalid">Set Level</button>
         </div>
      </div>
    </form>
	</div>
  </ion-content>
</ion-view>