<ion-tabs class="tabs-icon-top tabs-default">

  <!-- Home Tab -->
  <ion-tab title="Home" icon="icon ion-home" href="#/tab/home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>
    
    <!-- User Tab -->
  <ion-tab title="Leads" icon="icon ion-person" href="#/tab/leads">
  	<ion-nav-view name="leads-tab"></ion-nav-view>
  </ion-tab>

  <!-- DevTools Tab -->
  <ion-tab title="Settings" icon="icon ion-gear-a" href="#/tab/settings">
  	<ion-nav-view name="settings-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>