textarea {
  width: 100%;
}

.mc-hide {
    display: none;
    height: 0;
}


.console-message .ok {
  color: green;
}

.console-message .info {
  color: blue;
}

.console-message .final {
  font-weight : bold;
}
.console-message .error {
  color: red;
  font-weight: bold;
}
.console-message .ion-checkmark-round, .console-message .ion-close-round, .console-message .ion-information-circled  {
  margin-right: 0.5em;
}

.item-icon-left ion-spinner {
  float: left;
  margin-left: -3em;
  margin-right: 1em;
 }


// SPIN CSS for loading spinner - Added following move to Ionicons using SVG for
// for their animated spinners. But here we don't want to rely on Ionic being
// bootstrapped.

 .spin {
  line-height:100px;
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -ms-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

@keyframes "spin" {
 from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
 }
 to {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
 }

}

@-moz-keyframes spin {
 from {
   -moz-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -moz-transform: rotate(359deg);
   transform: rotate(359deg);
 }

}

@-webkit-keyframes "spin" {
 from {
   -webkit-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -webkit-transform: rotate(359deg);
   transform: rotate(359deg);
 }

}

@-ms-keyframes "spin" {
 from {
   -ms-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -ms-transform: rotate(359deg);
   transform: rotate(359deg);
 }

}

@-o-keyframes "spin" {
 from {
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -o-transform: rotate(359deg);
   transform: rotate(359deg);
 }

}