    
    //==    IMPORT THE IMPORTS  ==//

@import 'mobilecaddy';
@import "ionic/ionic";

    //==    APP LOADING SCREEN  ==//

#start-page {
    background-image: url('');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 0;
    width: 60%;
    margin: -5px 0 0 20%;
    height: 4000px;
}

#start-page .card {
    box-shadow: none;
    background-color : transparent;
}

#start-page .card .item {
    border: 0;
    background-color : transparent;
}

    //==    CUSTOM SASS  ==//


ion-view {
    margin: 0 !important;
    padding: 0 !important;
}

a {
    text-decoration: none;
}

button {
    background-color: transparent;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    outline: 0;
    border: 0;
}

.bar-header, .tab-nav {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
}

.button1 {
    width: 80px;
    position: absolute;
    left: 50%;
    margin-left: -40px;
    height: 32px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
}

.button1:active {
    background-color: #eee;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4);
}

.button1:disabled {
    background-color: #ccc;
}

.cardholder {
    height: 100%;
    margin: 0;
    padding: 0;
}

.cards {
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
    color: #fff;
    height: 55px;
    margin: 10px 3% 10px 3%;
    width: 94%;
    border-radius: 2px;
    transition: all 0.3s;
    overflow: hidden;
}

.cards.expanded {
    height: 150px;
    background-color: #fff;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
}

input.cardinput {
    position: absolute;
    right: 0;
    width: 70%;
    border: 0;
    height: 28px !important;
    margin: 5px 0 5px 0;
    padding: 0 0 0 5px;
}

.cardtitle1 {
    color: #2f2f2f;
    font-size: 14px;
    margin: 0 0 0 0;
    padding: 5px 0px 0px 10px;
    width: 300px;
}

.cardtitle2 {
    color: #2f2f2f;
    font-size: 12px;
    font-style: italic;
    margin: 0 0 0 0;
    padding: 5px 0px 0px 10px;
    width: 300px;
}

.cardtitle3 {
    color: #2f2f2f;
    font-size: 12px;
    margin: 0 0 0 0;
    padding: 5px 0px 0px 10px;
    width: 300px;
}

.col {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.contactbutton {
    background-color: transparent;
    display: block;
    float: right;
    width: 35px;
    height: 35px;
    font-size: 30px;
    margin-right: 10px;
    margin-top: 10px;
    padding-left: 5px;
    padding-top: 3px;
    color: #2f2f2f;
}

.editbox {
    position: relative;
    width: 94%;
    margin: 0 3% 0 3%;
    height: 38px;
}

.editbutton {
    width: 80px;
    height: 30px;
    margin: 40px 0 0 -90px;
    font-size: 12px;
    color: #2f2f2f;
    background-color: #eee;
    padding: 0 0 0 0;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
    text-align: center;
    line-height: 30px;
}

.editbutton:active {
    background-color: #ccc;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4);
}

.edittitle {
    font-size: 14px;
    margin: 20px 0 20px 0;
    text-align: center;
    font-weight: 700;
}

.hider {
    position: absolute;
    margin-top: 3px;
    background-color: #f2f2f2;
    width: 100%;
    height: 0px;
    opacity: 0;
}

.hider-f {
    animation: fadeup 1s;
}

.inputlabel {
    margin: 0 0 0 0;
    line-height: 38px;
    float: left;
    width: 80px;
}

.navbutton {
    font-size: 32px;
    color: #fff;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.row {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.pane { 
    background-color: #f2f2f2; 
}

.updatedbox {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #BCED91;
    width: 100%;
    height: 32px;
    line-height: 32px;
    text-align: center;
}

//animations

@keyframes fadeup {
    0% {opacity: 1; height: 1000px}
    45% {opacity: 1; height: 1000px}
    99% {opacity: 0; height: 1000px}
    100% {opacity: 0; height: 0px}
}


    //==    STOP THE BLACK FLASHING    ==//


[nav-view-transition="ios"][nav-view-direction="forward"],
[nav-view-transition="ios"][nav-view-direction="back"] {
  background-color: transparent;
}

[nav-view-transition][nav-view-direction] {
  background-color: transparent;
}